# 데이터 프레임

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as np

In [2]:
np.seed(111)

In [3]:
def CreateDataSet(Number):
    Output = []

    for i in range(Number):
        rng = pd.date_range(start='1/1/2009',
                            end='12/31/2012',
                            freq='W-MON')

        data = np.randint(low=25, high=1000,
                          size=len(rng))
        status = [1, 2, 3]
        random_status = [status[
                             np.randint(
                                 low=0, high=len(status))]
                         for i in range(len(rng))]

        states = ['GA', 'FL', 'fl', 'NY', 'NJ', 'TX']

        random_states = [states[np.randint(
            low=0, high=len(states))]
                         for i in range(len(rng))]
        Output.extend(zip(random_states, random_status,
                          data, rng))

    return Output

In [4]:
dataset=CreateDataSet(4)
print(dataset[:10])

[('GA', 1, 877, Timestamp('2009-01-05 00:00:00', freq='W-MON')), ('FL', 1, 901, Timestamp('2009-01-12 00:00:00', freq='W-MON')), ('fl', 3, 749, Timestamp('2009-01-19 00:00:00', freq='W-MON')), ('FL', 3, 111, Timestamp('2009-01-26 00:00:00', freq='W-MON')), ('GA', 1, 300, Timestamp('2009-02-02 00:00:00', freq='W-MON')), ('FL', 2, 706, Timestamp('2009-02-09 00:00:00', freq='W-MON')), ('TX', 3, 347, Timestamp('2009-02-16 00:00:00', freq='W-MON')), ('fl', 2, 143, Timestamp('2009-02-23 00:00:00', freq='W-MON')), ('FL', 3, 833, Timestamp('2009-03-02 00:00:00', freq='W-MON')), ('NY', 1, 992, Timestamp('2009-03-09 00:00:00', freq='W-MON'))]

In [5]:
df = pd.DataFrame(data=dataset,
                  columns=["state", "status", "customer", "date"])

In [6]:
print(df.head())
print(df.tail())
print(df.info())

state  status  customer       date
0    GA       1       877 2009-01-05
1    FL       1       901 2009-01-12
2    fl       3       749 2009-01-19
3    FL       3       111 2009-01-26
4    GA       1       300 2009-02-02
    state  status  customer       date
831    NY       2       122 2012-12-03
832    TX       2       887 2012-12-10
833    TX       2       988 2012-12-17
834    GA       3       946 2012-12-24
835    FL       2       970 2012-12-31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 4 columns):
state       836 non-null object
status      836 non-null int64
customer    836 non-null int64
date        836 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 26.2+ KB
None

만든 데이터를 엑셀 파일로 보내기

In [7]:
df.to_excel("./Chapter16/date.xlsx", index=False)

엑셀 파일 읽어오기

In [8]:
df = pd.read_excel("./Chapter16/date.xlsx", 0, index_col="date")
print(df)

state  status  customer
date
2009-01-05    GA       1       877
2009-01-12    FL       1       901
2009-01-19    fl       3       749
2009-01-26    FL       3       111
2009-02-02    GA       1       300
...          ...     ...       ...
2012-12-03    NY       2       122
2012-12-10    TX       2       887
2012-12-17    TX       2       988
2012-12-24    GA       3       946
2012-12-31    FL       2       970

[836 rows x 3 columns]

데이터 각각의 타입 확인하기

In [9]:
print(df.dtypes)

state       object
status       int64
customer     int64
dtype: object

데이터 정보 확인하기

In [10]:
print(df.index)

DatetimeIndex(['2009-01-05', '2009-01-12', '2009-01-19', '2009-01-26',
               '2009-02-02', '2009-02-09', '2009-02-16', '2009-02-23',
               '2009-03-02', '2009-03-09',
               ...
               '2012-10-29', '2012-11-05', '2012-11-12', '2012-11-19',
               '2012-11-26', '2012-12-03', '2012-12-10', '2012-12-17',
               '2012-12-24', '2012-12-31'],
              dtype='datetime64[ns]', name='date', length=836, freq=None)

-----
## 할일
1. 데이터의 State의 열에 있는 유일한 값들 확인
2. status의 값이 1인 자료만 선택해서 데이터프레임 만들기
3. "NJ"를 "NY"로 바꾼 다음 합치기
4. 이상치 처리

### 1. 데이터의 유일한 값 확인

In [11]:
print(df.status.unique())

[1 3 2]

### 2. 데이터 변경

In [12]:
df.state = df.state.apply(lambda x : x.upper())
print(df.state.unique())

['GA' 'FL' 'TX' 'NY' 'NJ']

In [13]:
mask = (df.state == "NJ")
df["state"][mask] = "NY"
print(df.state.unique())

['GA' 'FL' 'TX' 'NY']
/home/kmlee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### 3. 이상치 처리

In [14]:
dftest = pd.DataFrame({"key": ["A", "B", "C", "A", "B", "C", "A", "B", "C"],
                       "data": [0, 5, 10, 5, 10, 15, 10, 15, 20],
                       "test": [1, 1, 1, 1, 1, 1, 1, 1, 1]})

print(dftest)

key  data  test
0   A     0     1
1   B     5     1
2   C    10     1
3   A     5     1
4   B    10     1
5   C    15     1
6   A    10     1
7   B    15     1
8   C    20     1

In [15]:
print(dftest.groupby("key").sum())

data  test
key
A      15     3
B      30     3
C      45     3

In [16]:
print(dftest.groupby("key").data.apply(lambda x : x.sum()))

key
A    15
B    30
C    45
Name: data, dtype: int64

In [17]:
print(dftest.groupby("key").data.transform(lambda x : x.sum()))

0    15
1    30
2    45
3    15
4    30
5    45
6    15
7    30
8    45
Name: data, dtype: int64

In [18]:
print(df.reset_index().head())

date state  status  customer
0 2009-01-05    GA       1       877
1 2009-01-12    FL       1       901
2 2009-01-19    FL       3       749
3 2009-01-26    FL       3       111
4 2009-02-02    GA       1       300

In [19]:
daily = df.reset_index().groupby(["state", "date"]).sum()

요소 삭제

In [20]:
del daily["status"]
print(daily.head(10))

customer
state date
FL    2009-01-05       760
      2009-01-12      2538
      2009-01-19       895
      2009-01-26       547
      2009-02-02      1506
      2009-02-09       969
      2009-02-23       577
      2009-03-02       833
      2009-03-16      2712
      2009-03-23       752

In [21]:
print(daily.index.levels[0])

Index(['FL', 'GA', 'NY', 'TX'], dtype='object', name='state')

In [22]:
StateYear = daily.groupby([daily.index.get_level_values(0), daily.index.get_level_values(1).year])
print(StateYear)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f418698c050>

-----
사분위수 구하기 예제

In [23]:
dftest=pd.DataFrame({"A": [1, 2, 3, 400, 5, 6, 7, 8, 9, 10]})
print(dftest)
Q1 = dftest.A.quantile(q=0.25)
Q2 = dftest.A.quantile(q=0.5)
Q3 = dftest.A.quantile(q=0.75)
IQR = Q3 - Q1
print(Q1, Q2, Q3, IQR)

A
0    1
1    2
2    3
3  400
4    5
5    6
6    7
7    8
8    9
9   10
3.5 6.5 8.75 5.25

In [24]:
dftest["Lower"] = Q1 - 1.5 * IQR
dftest["Upper"] = Q3 + 1.5 * IQR
dftest["Outlier"] = (dftest.A < dftest.Lower) | (dftest.A > dftest.Upper)
print(dftest)

A  Lower   Upper  Outlier
0    1 -4.375  16.625    False
1    2 -4.375  16.625    False
2    3 -4.375  16.625    False
3  400 -4.375  16.625     True
4    5 -4.375  16.625    False
5    6 -4.375  16.625    False
6    7 -4.375  16.625    False
7    8 -4.375  16.625    False
8    9 -4.375  16.625    False
9   10 -4.375  16.625    False

In [25]:
daily["Lower"] = StateYear["customer"].transform(lambda x: x.quantile(q=0.25) - 1.5 * (x.quantile(q=0.75) - x.quantile(q=0.25)))

print(daily.head(10))

customer  Lower
state date
FL    2009-01-05       760 -389.0
      2009-01-12      2538 -389.0
      2009-01-19       895 -389.0
      2009-01-26       547 -389.0
      2009-02-02      1506 -389.0
      2009-02-09       969 -389.0
      2009-02-23       577 -389.0
      2009-03-02       833 -389.0
      2009-03-16      2712 -389.0
      2009-03-23       752 -389.0

In [26]:
daily["Upper"] = StateYear["customer"].transform(lambda x: x.quantile(q=0.75) + 1.5 * (x.quantile(q=0.75) - x.quantile(q=0.25)))
print(daily.head(10))

customer  Lower   Upper
state date
FL    2009-01-05       760 -389.0  2169.0
      2009-01-12      2538 -389.0  2169.0
      2009-01-19       895 -389.0  2169.0
      2009-01-26       547 -389.0  2169.0
      2009-02-02      1506 -389.0  2169.0
      2009-02-09       969 -389.0  2169.0
      2009-02-23       577 -389.0  2169.0
      2009-03-02       833 -389.0  2169.0
      2009-03-16      2712 -389.0  2169.0
      2009-03-23       752 -389.0  2169.0

In [29]:
daily["Outlier"] = (daily["customer"]<daily["Lower"]) | (daily["customer"]>daily["Upper"])
print(daily.head())

customer  Lower   Upper  Outlier
state date
FL    2009-01-05       760 -389.0  2169.0    False
      2009-01-12      2538 -389.0  2169.0     True
      2009-01-19       895 -389.0  2169.0    False
      2009-01-26       547 -389.0  2169.0    False
      2009-02-02      1506 -389.0  2169.0    False

In [30]:
daily = daily[daily["Outlier"] == False]
print(daily.head(10))

customer  Lower   Upper  Outlier
state date
FL    2009-01-05       760 -389.0  2169.0    False
      2009-01-19       895 -389.0  2169.0    False
      2009-01-26       547 -389.0  2169.0    False
      2009-02-02      1506 -389.0  2169.0    False
      2009-02-09       969 -389.0  2169.0    False
      2009-02-23       577 -389.0  2169.0    False
      2009-03-02       833 -389.0  2169.0    False
      2009-03-23       752 -389.0  2169.0    False
      2009-03-30       541 -389.0  2169.0    False
      2009-04-06      1337 -389.0  2169.0    False